@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Oswald", sans-serif;
  background-color: aliceblue;
}

.square {
  width: 100%;
  height: 328px;
  object-fit: contain;
}
